<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="PlayerMove_MaxSpeed" value="10.5"/>
    <add key="PlayerMove_AccelerationSpeed" value="1.6"/>
    <add key="PlayerAction_OhudaLifeTime" value="10"/>
    <add key="PlayerAction_AttackLifeTime" value="0.2"/>
    <add key="PlayerAction_AttackVector" value="20"/>

    <add key="GhostMove_MaxSpeed" value="10"/>
    <add key="GhostMove_AccelerationSpeed" value="2"/>
    <add key="WispMove_MaxSpeed" value="7.5"/>
    <add key="WispMove_AccelerationSpeed" value="2"/>
    <add key="GrebeShadowObject_search" value="700"/>
    <add key="Score1_Ryo" value="500"/>
    <add key="Score1_Yu" value="900"/>
    <add key="Score1_Syu" value="1300"/>
    <add key="Score2_Ryo" value="800"/>
    <add key="Score2_Yu" value="1700"/>
    <add key="Score2_Syu" value="2000"/>
    <add key="Score3_Ryo" value="1300"/>
    <add key="Score3_Yu" value="2000"/>
    <add key="Score3_Syu" value="2500"/>

  </appSettings>
</configuration>